.container {
  background-color: var(--blue);

  .content {
    display: flex;
    align-items: center;
    max-width: 90rem;
    justify-content: space-between;
    padding: 2rem 0 12rem;
    margin: 0 auto;

    .icon {
      height: 4rem;
    }

    .button {
      font-size: 1.2rem;
      color: #fff;
      background: var(--blue-light);
      border: 0;
      border-radius: 0.5rem;
      padding: 0 2rem;
      height: 3.75rem;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  @media (--sm-viewport), (--md-viewport) {
    .content {
      margin: 0 2rem;
      padding: 2rem 0 14rem;

      .icon {
        height: 3rem;
      }

      .button {
        display: flex;
        align-items: center;
        height: 3rem;
        padding: 1rem;
      }
    }
  }
}
